.hero {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: space-between;
  justify-content: center;
  margin-top: 50px;
}

.buttons a {
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #000;
}

.buttons strong {
  padding: 20px;
}

.btn_1 {
  background-image: linear-gradient(to bottom right, ghostwhite, #2167ff);
}

.btn_2 {
  background-image: linear-gradient(to bottom right, ghostwhite, #21ff29);
}
